$bp-grey: #6C6E71;
$bp-dark-grey: #505050;
$bp-dark-grey-2: #333333;
$bp-bg-grey: #F2F7FB;
$bp-border-color: #979797;
$bp-dark-blue: #00446E;
$bp-white: #ffffff;
$bp-blue: #0079C8;
$bp-text-grey:#424242;
$bp-text-blue:#00335B;
$bp-text-link:#008ED2;
$bp-border-color: #979797;
$bp-color-text-footer: #6C6E71;
$bp-bg-label:#DE5408;