$bp-font-42 : normal 42px Helvetica Neue;
$bp-font-32 : normal 32px Helvetica Neue;
$bp-font-24 : normal 24px Helvetica Neue;
$bp-font-20 : normal 20px Helvetica Neue;
$bp-font-18 : normal 18px Helvetica Neue;
$bp-font-16 : normal 16px Helvetica Neue;
$bp-font-14 : normal 14px Helvetica Neue;
$bp-font-11 : normal 11px Helvetica Neue;